.main {
  display: block;
}

.grid {
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  position: relative;
  width: 300px;
}

.card__picture {
  display: block;
  width: 100%;
  height: auto;
}

.biography {
  padding: 24px;
}

.biography__title {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 800;
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
